h1{
    margin-bottom: 20px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.user_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}
.user_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.userTexts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.username{
    font-size: 14px;
    font-weight: 500;
}
.email{
    font-size: 12px;
}
.amount{
    font-weight: 500;
}